    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap');
     :root {
        --primary-color: #ff4c68;
        --primary-color-hover: #ef8172;
        --off-white: #f3f4f6;
        --dark-gray: #6b7280;
    }
    
    body {
        font-family: "Montserrat";
        margin: 0rem 3rem;
    }
    
    hr {
        margin: 2rem 0rem;
    }
    
    .margin-md {
        margin: 2rem;
    }
    
    .container {
        padding: 0rem 1rem;
    }
    
    .container-center {
        max-width: 900px;
        width: 100%;
        margin: auto;
    }
    
    #title {
        background-color: var(--primary-color);
        padding: 3% 5% 0%;
        font-family: "Montserrat";
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .link {
        box-sizing: border-box;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
    
    .link-primary {
        max-width: 140px;
        padding: 0.6rem 1.2rem;
        background-color: var(--primary-color);
        color: #fff;
        margin: 1rem auto;
        border-radius: 2rem;
    }
    
    .link-primary:hover {
        background-color: var(--primary-color-hover);
    }
    
    .link-secondary {
        max-width: 140px;
        margin: 1rem;
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    
    .link-secondary:hover {
        background-color: var(--primary-color-hover);
        color: var(--off-white);
    }
    
    .list-non-bullet {
        list-style: none;
    }
    
    .list-item-inline {
        display: inline;
        padding: 0rem 0.5rem;
    }
    
    .navigation {
        font-family: "Ubuntu";
        background-color: var(--primary-color);
        color: white;
        padding: 2rem 2rem 0rem 2rem;
    }
    
    .navigation .nav-brand {
        font-weight: bold;
        font-size: xx-large;
        display: inline-block;
    }
    
    .nav-brand {
        font-family: "Ubuntu";
        color: inherit;
    }
    
    .nav-brand a {
        font-family: "Ubuntu";
        color: inherit;
    }
    
    .navigation .nav-pills {
        text-align: right;
        margin: 0rem 1rem;
        float: right;
    }
    
    .navigation .link {
        color: white;
        font-size: larger;
    }
    
    .navigation .link-active {
        font-weight: bold;
    }
    
    .hero {
        padding: 1rem 3rem 3rem 3rem;
        background-color: var(--primary-color);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .hero .hero-img {
        width: 40%;
        display: inline-block;
        vertical-align: middle;
    }
    
    .hero .hero-heading {
        padding-top: 1rem;
        color: var(--off-white);
        display: inline-block;
        max-width: 50%;
        vertical-align: middle;
        margin-bottom: 0rem;
        font-size: xx-large;
    }
    
    .hero-btn {
        background-color: black;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-size: 20px;
        padding: 15px;
        text-decoration: none;
        text-align: center;
        margin: 0% 1%
    }
    
    .hero-btn-light {
        border: 1px solid white;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        color: black;
        font-size: 20px;
        padding: 15px;
        text-decoration: none;
        text-align: center;
        margin: 0% 1%
    }
    
    .hero-btn-light:hover {
        background-color: white;
        color: black;
    }
    
    .btn-img {
        width: 20px;
        vertical-align: middle;
    }
    
    hr {
        border-top: 5px dotted red;
        margin: 7% 30% 7% 30%;
    }
    
    .section {
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 1rem;
        text-align: center;
    }
    
    .section h1 {
        text-align: center;
    }
    
    .skill-div {
        text-align: center;
    }
    
    .skill-box {
        display: inline-block;
        text-align: center;
        padding: 3% 7%;
    }
    
    .ow {
        background-color: var(--off-white);
    }
    
    .footer {
        background-color: var(--primary-color);
        padding: 2rem 1rem;
        text-align: center;
        color: white;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    
    .footer .link {
        color: white;
    }
    
    .footer .footer-header {
        font-weight: bold;
        font-size: large;
    }
    
    .footer ul {
        padding-inline-start: 0px;
    }
    
    a,
    img,
    li {
        display: inline;
    }
    
    img {
        width: 40px;
        padding: 0.2rem;
    }
    
    .showcase-list {
        padding: 3rem 2rem;
        border-radius: 1rem;
        text-align: center;
        font-weight: 500;
    }
    
    .showcase-list h1 {
        margin: 0.5rem;
    }
    
    .showcase-list p {
        padding-bottom: 1rem;
    }
    
    .showcase-blog {
        padding-bottom: 6rem;
    }
    
    .blog-img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 2px solid;
    }
    
    .blog-points {
        display: block;
    }
    
    .blog-heading {
        padding-top: 1rem;
        color: black;
        text-align: center;
    }
    
    @media (max-width: 900px) {
        body {
            max-width: 80%;
            width: 100%;
        }
        .list-item-inline {
            display: inline;
            padding: 0rem;
        }
        .container-center {
            width: auto;
        }
        .link-primary {
            display: block;
        }
    }